.container {
    background: rgb(255, 255, 255);
    border: 2px solid rgba(0, 0, 0, 0.5);
    width: 880px;
    height: 93px;
    margin-left: 1cm;
    position: absolute;
    right: 100px;
    top: 90px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }

  .header{
    margin-left: 90px; 
    position: absolute; 
  }

  .btn1{
    position: absolute;
    left: 220px;
    top: 10px;
  }

  .btn2{
    position: absolute;
    left: 420px;
    top: 10px;
  }

  .btn3{
    position: absolute;
    left: 600px;
    top: 10px;
  }