<mat-sidenav-container class="container">

    <h4 class="header">SDLC Phase</h4>

    <!-- <mat-form-field appearance="outline" class="dropdown">
        <mat-label>Select SDLC Phase</mat-label>
        <select matNativeControl>
            <option></option>
            <option>Project Initiation Phase</option>
            <option>Requirements Phase</option>
            <option>Design Phase</option>
        </select>
    </mat-form-field> -->

    <button mat-raised-button color="accent" class="btn1" routerLink="/initform">Project Initiation Phase</button>
    <button mat-raised-button color="accent" class="btn2" routerLink="/reqform">Requirements Phase</button>
    <button mat-raised-button color="accent" class="btn3" routerLink="/designform">Design Phase</button>


</mat-sidenav-container>